<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <link rel="shortcut icon" href="https://cambrian.gg/favicon.ico">
      <!-- https://tailwindcss.com/docs/installation/play-cdn
      Use the Play CDN to try Tailwind right in the browser without any build step.
      The Play CDN is designed for development purposes only, and is not the best choice for production. -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.sentryConfig) { %>
        <!-- Sentry error logging to help with finding bugs -->
        <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>
        <script>
            Raven.config(<%= htmlWebpackPlugin.options.sentryConfig %>).install();
        </script>
        <!-- /Sentry -->
    <% } %>
  </head>
  <body>
    <div id='cambrian-preload-message'>
      <h1>Stay here!</h1>
      <p>It will load.... Pinky promise?</p>
    </div>
  </body>
</html>
